@import "tailwindcss";

:root{
    --primary-color: whitesmoke;
    --secondary-color: grey;
    --border:grey;
    --border-reduce:rgba(128, 128, 128, 0.342);
    --text:white;
}
[data-theme="light"] {
    --primary-color: white;
    --secondary-color:grey;
    --text:black;
    --shadow:rgb(243, 243, 243);      
    background-color:white;
  }
  
  [data-theme="dark"] {
    --primary-color: #111827;
    --secondary-color: #ffffff;
    --text:rgb(252, 252, 252);
    --shadow:#111e3a;      
    --border:#30394d;
    --border-reduce:rgba(128, 128, 128, 0.342);
    background-color:#111827;
    
  }
  