.navbar-container{
    border-bottom: 1px solid var(--border);
}

.work-chat,
.work-editor{
    border: 1px solid var(--border);
    padding: 1em;
    border-radius: 0.5em;
}
.work-chat{
    width: 30%;
}
.work-editor{
    width: 70%;
}
.ws-container{
    height: 47em;
    max-width: 100em;
    gap: 1.5em;
}
@media  (max-width: 998px) {
    .work-editor,
    .work-chat{
        width: 100%;
    }
    
}