#chat{
    color: var(--text);
}
.chat-section-box{
    scrollbar-width: none;
    overflow: scroll;
}
.chat-input{
    outline: none;
    border-radius: 0.25em;
    background-color: var(--border-reduce);
    color: var(--text);
    border: 1px solid rgb(156, 156, 156);
}
.user-prompt{
    width:calc(85% - 1em);
    overflow-wrap: break-word;
}
.chat-head{
    border-bottom: 1px solid var(--border);
}
    .chat-user-message{
    color:var(--text);
    background-color: var(--border-reduce);
    border-radius: 0.5em;
    border: 1px solid var(--border-reduce);
}
.editor-language,
.editor-container{
    border: 1px solid var(--border);
}
.multi-code-container{
    background-color:var(--border-reduce);
    color:var(--text);
    border-radius: 0.25em;
    cursor: pointer;
}
.multi-code{
    font-size: 0.9em;
    text-align: center;
    padding: 0.5em 1em;
    width: 10em;
    border-radius: 0.5em;
}
.code-active{
    background-color: var(--primary-color);
    color: var(--text);
}
.editor-execution{
    border-radius: 0.25em;
    cursor: pointer;
}
.execute-st{
    color: var(--text);
    background-color: var(--border-reduce);
}
.download-toggle,
.execute-st:hover{
    background-color: rgb(75, 75, 75);
    color: var(--secondary-color);
}
.dr-item-color{
    background-color: blue;
}
.compilation-display{
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.5);
}
.compilation-body{
    height: 100%;
}
.message-description{
    text-align: center;
    padding-bottom: 1em;
}
.result-danger{
    color: rgb(204, 0, 0);
    font-size: large;
    font-weight: 500;
}
.result-success{
    color: rgb(0, 173, 0);
    font-size: 1.5em;
    font-weight: 500;
}
.ll-container{
    padding-block: 5em;
    height: 610px;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    font-weight: bolder;
    text-align: center;
    color: #81a77a;
}