.navbar{
    width: min(100%,85em);
    align-items: center;
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--text);
    max-height: 3em;
}
.navbar-items{
    text-decoration: none;
}
.navbar-items:hover{
    color: rgb(97, 97, 97);
}
.nav-button{
    border: none;
    border-radius: 0.25em;
    padding: 0.5em 1.5em;
    height: 100%;
}
.get-started{
    background-color: rgb(54, 54, 54);
}
.sign-in{
    border: 1px solid var(--border);
}
.theme-image{
    height: 1.5em;
}
.theme-button{
    background-color: transparent;
    border: 1px solid var(--border-reduce);
    padding: 0.5em;
    border-radius: 0.25em;
    margin-inline: 0.5em;
}